# Copyright 2023 Paion Data. All rights reserved.

dist
/build
.idea/
.vscode/
.DS_Store
/coverage
node_modules

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
./packages/nexusgraph-app/.yarn
./packages/nexusgraph-editor/.yarn
./packages/nexusgraph-graph/.yarn
./packages/nexusgraph-graphql-server/.yarn
./packages/nexusgraph-landing-page/.yarn
./packages/nexusgraph-nlp/.yarn

docs/.yarn/
packages/nexusgraph-landing-page/.yarn/
