# Copyright 2023 Paion Data. All rights reserved.

dist
/build
.idea/
.vscode/
.DS_Store
/coverage
node_modules

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
./packages/messier-61-app/.yarn
./packages/messier-61-editor/.yarn
./packages/messier-61-graph/.yarn
./packages/messier-61-graphql-server/.yarn
./packages/messier-61-landing-page/.yarn
./packages/messier-61-nlp/.yarn

docs/.yarn/
packages/messier-61-landing-page/.yarn/
